body {
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif !important;
    /* font-size: 0.7rem !important; */
    font-size: 12px!important;
    line-height: 18px!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e2f3e5;
}
input {
    font-family: 'Helvetica', 'Arial', sans-serif !important;
    font-size: 12px!important;
    line-height: 13px!important;
    color: #000!important;
}

code {
    font-family: source-pr-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.root{
    background: #e2f3e5;
}



@media print {
    @page :first {
        margin-top: 0.2in;
        margin-bottom: 0.41in;
    }
    @page {
        margin-top: 0.3in;
        margin-bottom: 0.41in;
        margin-left: 20px;
        margin-right: 20px;
    }
    .wrapper-box{
        background-color: white;
    }
    html {
        background-color: white;
    }
    body {
        background-color: white;
        font-size: 10px!important;
        line-height: 11px!important;
    }
    .container {
        background-color: white;
        padding-top: 0!important;
        box-shadow: none!important;
    }
    #root{
        background-color: white;
    }
    #no-print {
        display: none;
    }
    #combo-box-demo {
        display: none;
        visibility: hidden;
    }
  }